@model IEnumerable<NongSan.Models.DanhMucSanPham>
@{
    ViewBag.Title = "TableCategory";
}
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Products</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">
                                Thêm Danh Mục
                            </button><br /><br />
                            <table class="table table-bordered product" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr style="text-align:center;">
                                        <th>Mã danh mục</th>
                                        <th>Tên danh mục</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.IDDanhMuc</td>
                                            <td>@item.TenDanhMuc</td>
                                            <td style="text-align:center;">
                                                <a style="margin:10px;" class="btn btn-primary btn-sm btn_FixCate" data-id="@item.IDDanhMuc"><i class="fa fa-pen-fancy fa-lg"></i></a>
                                                <a style="margin:10px;" class="btn btn-danger btn-sm btn_DeleteCate" data-id="@item.IDDanhMuc"><i class="fa fa-trash fa-lg"></i></a>
                                            </td>
                                        </tr>

                                    }
                                </tbody>

                                <tfoot style="text-align:center;">
                                    <tr>
                                        <th>Mã danh mục</th>
                                        <th>Tên danh mục</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Modal-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-bodydelete">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnClose_modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@{Html.RenderAction("FormCategory", "Category");}
<script>
    function clearTextBox() {
        $('#TenDanhMuc').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#TenDanhMuc').css('border-color', 'lightgrey');
    }
</script>